<footer class="py-3">
  <div class="container text-end border-top border-1 pt-4">
    <div class="d-inline-block">
      <p class="mb-0">Radosław Stary for Asseco BS © 2023</p>
      <div class="contact-icons fs-5">
        <a class="contact-item" href="mailto:radek@stary.pro"
          ><i class="bi bi-envelope-at"></i
        ></a>
        <a class="contact-item" href="https://stary.pro"
          ><i class="bi bi-globe-americas"></i
        ></a>
        <a
          class="contact-item"
          href="https://www.linkedin.com/in/radoslaw-stary"
          ><i class="bi bi-linkedin"></i
        ></a>
        <a class="contact-item" href="https://github.com/radekstary"
          ><i class="bi bi-github"></i
        ></a>
      </div>
    </div>
    <p class="copyright">
      <small class="fw-light"
        >Header photo by
        <a
          href="https://unsplash.com/photos/5fNmWej4tAA#:~:text=Photo%20by%20Scott%20Graham%20on%20Unsplash"
          target="_blank"
          rel="noopener noreferrer"
          >Scott Graham</a
        >
        on
        <a
          href="https://unsplash.com/photos/5fNmWej4tAA?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
          target="_blank"
          rel="noopener noreferrer"
          >Unsplash</a
        ></small
      >
    </p>
  </div>
</footer>
